body{
    background-color: #1E00FF;
    margin: 0;
    padding: 0;
    width: 100%;
}
#navbar{
    background-color: #E1FF00;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 60%;
}
#navbar>a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 500;
}
.content
{
    position: relative;
    top: 100px;
    
}
#welcome-section{
    text-align: center;
    color: white;
    line-height: 1%;
    /* font-size: 1em; */
    
}
#welcome-section>h1{
    font-size: 4em;
}